<%= form_for([@home, @home.comments.build]) do |f| %>
  <p>
    <%= f.label :body, "Comment Description" %><br />
    <%= f.text_field :body %>

  </p>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>