<h2> this is my videos </h2>

  <head>
    <title>Video Tutorial</title>


<div id="dropbox"><span id="droplabel">Drop file here...</span></div>
<img id="preview" alt="[ preview will display here ]" />


